* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h3 {
  color: #fff;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 600;
}
.body {
    border-radius: 6px;
  height: 90vh;
  width: 95%;
  background: url(img/bkg.jpg) no-repeat;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}
.log-in img {
  margin-bottom: 60px;
  border-radius: 6px;
  height: 170px;
}
/* .log-out img{
    margin-bottom: 20px;
    border-radius: 6px;
} */
.admin img {
  margin-bottom: 20px;
  border-radius: 6px;
  height: 170px;
}
#us {
  height: 25em;
}
.user {
  height: 500px;
  width: 950px;
  background: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1350px) {

  .log-in img {
    height: 140px;
    margin-right: 30px;
  }
  .admin img {
    height: 140px;
  }
  #us {
    height: 10em;
  }
  .user {
    height: 550px;
    width: 900px;
    background: #fff;
    margin-bottom: 30px;

  }
  .button {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1100px) {

  .log-in img {
    height: 140px;
  }
  .admin img {
    height: 140px;
  }
  #us {
    height: 10em;
  }
  .user {
    height: 450px;
    width: 900px;
    background: #fff;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
    h3{
        margin: 10px;
    }
    .log-in img {
      height: 110px;
      margin-right: 30px;
      margin-bottom: 0px;
    }
    .admin img {
      height: 110px;
      margin-bottom: 0px;
    }
    #us {
      height: 10em;
    }
    .user {
      height: 320px;
      width: 750px;
      margin-bottom: 30px
    }
  }
  @media (max-width: 375px) {

    .log-in img {
      height: 100px;
      margin-right: 30px;
      margin-bottom: 0px;
    }
    .admin img {
      height: 100px;
      margin-bottom: 0px;
    }
    .user {
      height: 300px;
      width: 800px;
      background: #fff;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
  
    }
  }

